﻿<div class="section">
    <div class="row">
        <div class="col s6">
            <a class="waves-effect waves-light btn-large orange darken-3" ng-click="vm.getToken()">Gerar Token</a>
        </div>
        <div class="col s6" ng-if="vm.token">
            <p class="right-align">Token: <span>{{vm.token}}</span></p>
            <p class="right-align"><span token-expiration date="{{vm.expiration}}"></span></p>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn orange darken-2 right" ng-click="vm.getProducts()">Buscar Produtos</a>
        </div>
    </div>
    <table ng-if="vm.products">
        <thead>
            <tr>
                <th data-field="id">Id</th>
                <th data-field="name">Nome</th>
                <th data-field="description">Descrição</th>
                <th data-field="price">Preço</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="product in vm.products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
